body {
  font-family: Arial, sans-serif;
  background-color: #5F259F;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}